c-exercise.opensdf
*.log
*.obj
c-exercise\Debug\*
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.exe
*.suo
*.sdf
*.sdf
*.tlog
*.obj
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
